<h1><%= @restaurant.name %></h1>
<% if ['a','e','i','o','u'].include? @restaurant.category[0] %>
  <p>An <%= @restaurant.category.capitalize %> restaurant</p>
<% else %>
  <p>A <%= @restaurant.category.capitalize %> restaurant</p>
<% end %>
<p>Address: <%= @restaurant.address %></p>
<p>Phone Number: <%= @restaurant.phone_number%></p>

<br>

<%= link_to "Review", new_restaurant_review_path(@restaurant), class: "btn btn-primary"%>

<h3>Reviews</h3>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>
      Rating: <%= "*" * review.rating %>
      <p><%= review.content %></p>
    </li>
  <% end %>
</ul>

